- name: Download kubeconfig
  # noqa: run-once[task]
  run_once: true
  become: true
  ansible.builtin.fetch:
    src: /etc/rancher/rke2/rke2.yaml
    dest: "{{ playbook_dir }}/rke2.yaml"
    flat: true
      # when: >-
      #installrke2 is defined
- name: Check if rke2.yaml File Exists
  delegate_to: localhost
  run_once: true
  ansible.builtin.stat:
    path: "{{ playbook_dir }}/rke2.yaml"
  register: rke2_yaml
- name: Update server config
  delegate_to: localhost
  run_once: true
  ansible.builtin.command: |
    kubectl config set-cluster default --server=https://kubernetes.homelab.heyser.xyz:6443
  environment:
    KUBECONFIG: "{{ rke2_yaml.stat.path }}"
  become: true
  register: kubectl_precheck_out
  changed_when: true
  when: rke2_yaml.stat.exists
  failed_when:
  - kubectl_precheck_out.rc != 0
