- name: Check for kubeconfig
  ansible.builtin.stat:
    path: "{{ home }}/.kube/config"
  register: kubeconfig
- name: Deploy Reflector chart
  when: kubeconfig.stat.exists
  kubernetes.core.helm:
    # renovate: registryUrl=https://emberstack.github.io/helm-charts
    kubeconfig: "{{ home }}/.kube/config"
    name: reflector
    release_namespace: kube-system
    chart_ref: reflector
    chart_version: 10.0.2
    chart_repo_url: https://emberstack.github.io/helm-charts
    values:
      tolerations:
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"
